<div class="about_section layout_padding">

    <div class="row">
      <div class="col-md-12">
          <h1 class="about_title">About Us</h1>
      </div>
    </div>
    <div class="about_section_2 layout_padding">
      <div><%= image_tag "about_cropped.png", class:"about_img" %></div>
      <div class="about_title_box">
          <h1 class="about_title_1">Introduction</h1>
          <p class=" about_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, tenetur aliquam rerum quidem excepturi officia consequuntur nisi eius dolorum.</p>
      </div>
    </div>

</div>
