<footer>
  <div class="footer-content" id="Contact">
    <div class="access-info">
      <p id="footer-brand">Koharu</p>
      <div>
        <p class="footer-text">〒777-7777</p>
        <p class="footer-text">7 Chome-77-7 Kanazawa</p>
      </div>
      <div>
        <p class="footer-text">TEL: 077-777-7777</p>
        <p class="footer-text">MAIL: info@koharu777.com</p>
      </div>
    </div>

    <div class="social">
        <a href= #><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</footer>

<section class="copyright">
  <div class="container">
      <p>&copy; 2024 Rashad DuPaty</p>
  </div>
</section>
