<div class="hero-container">
  <div class="overlay"></div>

  <%= image_tag "hero_3.png", class:"hero-img" %>
  <%= image_tag "hero_2.png", class:"hero-img" %>
  <%= image_tag "hero_1.png", class:"hero-img" %>

  <h1 class="heading">Welcome to Hibini</h1>
</div>


<!--
<button>Menu
    <span></span>
    <span></span>
</button>
-->
