<div class="hero-container" id="Home">

  <%= image_tag "hero3.webp", class:"hero-img" %>
  <%= image_tag "hero2.webp", class:"hero-img" %>
  <%= image_tag "hero1.webp", class:"hero-img" %>

  <div class="hero-content">
    <h1 class="heading">喫茶hibini</h1>
      <h6>からだに優しいお食事と居心地よい<br>空間を日々にお届けします</h6>
      <dl>
        <dt>Open</dt>
        <dd>11:00-16:00</dd>
        <dt>Closed</dt>
        <dd>隔週土/日/不定休</dd>
      </dl>
  </div>

  <div class="overlay"></div>

</div>


<!--
<button>Menu
    <span></span>
    <span></span>
</button>
-->
