<header class="header">
    <!--<a href="#" class="logo">Hibini</a>-->
    <%= image_tag "coffee_logo.webp", class:"shop_logo" %>
    <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navi">
        <a href="#Home" class="nav-link">Home</a>
        <a href="#About" class="nav-link">About</a>
        <a href="#Menu" class="nav-link">Menu</a>
        <a href="#Gallery" class="nav-link">Gallery</a>
        <a href="#Contact" class="nav-link">Contact</a>
    </nav>
</header>

<div class="nav-bg"></div>
