.about_section {
  margin-top: 2rem;
  width: 100%;
  float: left;
  padding-bottom: 90px;
}

.about_section_2 {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.about_title {
  width: 100%;
  color: #918A6B;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
}

.about_title_box {
  margin-right: -15rem;
  width: 30rem;
  background: rgba(255, 255, 255, 0.7);
  border-top: 2px solid rgba(255, 255, 255, 0.65);
  border-left: 2px solid rgba(255, 255, 255, 0.65);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  padding: 2rem;
  box-shadow: 0px 0px 30px 0px;
  border-radius: 1rem;
}

.about_img {
  width: 50vw;
  border-radius: 1rem;
}

.about_title_1 {
  width: 100%;
  float: left;
  font-size: 30px;
  color: #3b3b3b;
}

.about_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #232222;
  margin: 0px;
}

/*BREAKPOINTS*/
@media (max-width: 1025px) {
  .about_img {
    width: 60vw;
  }
  .about_title_box {
    width: 30rem;
    margin-right: -15rem;
  }
}

@media (max-width: 768px) {
  .about_title_box {
    width: 60vw;
    margin-top: -5rem;
    margin-right: unset;
    text-align: center;
  }
  .about_section_2 {
    flex-direction: column;
  }
  .about_img {
    width: 80vw;
  }
}

@media (max-width: 321px) {
  .about_title_box {
    padding: 1rem;
  }
}
