.best{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #918A6B;
  height: 100vh;
}

.best-title{
  width: 100%;
  float: left;
  font-size: 40px;
  color: #3b3b3b;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-bottom: 0px;
}

.direction{
  text-align: center;
}
.direction button{
  font-family: cursive;
  font-weight: bold;
  background-color: #ffffff44;
  border:none;
  width:50px;
  height:50px;
  border-radius: 50%;
  transition: 0.5s;
  margin:0 10px;
}
.direction button:hover{
  background-color: #ffffff;
}
.item{
  border-radius: 15px;
  width:300px;
  height:500px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 2px solid rgba(255, 255, 255, 0.65);
  border-left: 2px solid rgba(255, 255, 255, 0.65);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: 0.5s;
  margin:10px;
  scroll-snap-align: start;
}
.item .avatar{
  display: block;
  margin: 0px auto 10px;
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 20px;
}
.item .content{
  padding:30px;
  font-family: monospace;
}
.item .content table td{
  padding:10px 0;
  border-bottom: 1px solid #AEC0CE;
}
.item .content table td:nth-child(2){
  text-align: right;
}
.item .nameGroup{
  text-align: center;
  border-bottom:none!important;
}
#list{
  display: flex;
  width:max-content;
}
#formList{
  width:1280px;
  max-width: 100%;
  overflow: auto;
  // margin:100px auto 50px;
  scroll-behavior: smooth;
  scroll-snap-type: both;
  background: grey;
}
#formList::-webkit-scrollbar{
  display: none;
}
@media screen and (max-width: 1024px){
  .item{
      width: calc(33.3vw - 20px);
  }
  .direction{
      display: none;
  }
}
@media screen and (max-width: 768px){
  .item{
      width: calc(50vw - 20px);
  }
  .direction{
      display: none;
  }
}
