footer{
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #918A6B;
  backdrop-filter: blur(10px);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}
footer::before{
  content: "";
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
footer:hover::before{
  left: 100%;
}
#footer-brand{
  font-family: "Umbriago NF W01 Regular";
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 2px 2px #000000;
}
.access-info{
  margin-top: 1rem;
  line-height: 1;
  gap: 2rem;
  flex-direction: row;
  display: flex;
  font-size: 1rem;
  color: #fff;
}
footer .social{
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
footer .social a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 0px 12px;
  transition: all .5s ease;
  &:hover {
    transform: scale(1.2); /* Zoom in on hover */
    color: #E6E3AB;
  }

  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}
.footer-text{
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px #000;
}

/* copyright */
.copyright{
  background-color: #918A6B;
  border-top: 1px solid #999999;
  padding: 15px;
}
.copyright p{
  color: #fff;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  color: #E6E3AB;
}
.fa-instagram{
  font-size: 3.5rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
}

@media (max-width: 768px){
  .access-info {
    gap: 1rem;
  }
  #footer-brand{
    font-size: 3rem;
  }
  .fa-instagram{
    font-size: 5rem;
  }
}

@media (max-width: 576px){
  .footer-content {
    flex-direction: column;
  }
  .access-info {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  footer .social{
    align-items: unset;
    justify-content: center;
    padding: 1rem;
  }
  #footer-brand{
    margin-bottom: 0;
  }
}

@media (max-width: 435px){
  .fa-brands{
    font-size: 1.8rem;
  }
}
